{% extends "base.html" %}
{% block content %}
<div class="row">
    <div class="col-sm-2">
        <!-- Side navigation -->
        <div class="sidenav">
            <a href="#">Home</a>
            <a href="/kanban">Kanban Board</a>
            <a href="#"></a>
            <a href="#"></a>
        </div>
    </div>
    <div class="col-sm-7">
        <br>
        <h3>Notes</h3>

    </div>
    <div class="col-sm-3" id="todolist">
        <br>
        <div class="todocontainer">
            <h3>ToDo List</h3>
            <div class="form-group w-75">
                <form method="POST" class="todoform">
                    <input name="todo" id="todo" class="form-control" autocomplete="off"></input>
                    <button type="submit" class="btn btn-primary">&#43;</button>
                </form>    
            </div>
            {% for todo in user.todo %}
                <p>{{ todo.todo_list }}</p>
            {% endfor %}
        </div>
</div>
{% endblock %}