{% extends "base.html" %}
{% block content %}
<div class="row">
    <div class="col-sm-2">
        <!-- Side navigation -->
        <div class="sidenav">
            <a href="#">Home</a>
            <a href="#">CRUD</a>
            <a href="#"></a>
            <a href="#"></a>
        </div>
    </div>
    <div class="col-sm-7">
        <br>
        <h3>Notes</h3>
        <div class="Notes">
            <form method="POST">
                <textarea name="notes" id="notes" class="form-control"></textarea>
                <br>
                <button type="submit" class="btn btn-primary">Add</button>
            </form>
        </div>
    </div>
    <div class="col-sm-3 row-fluid" id="todolist">
        <br>
        <h3>ToDo List</h3>
        <div class="todoform">
            <form method="POST">
                <textarea name="todo" id="todo" class="form-control"></textarea>
                <br>
                <button type="submit" class="btn btn-primary">Add</button>
            </form>       
        </div>
    </div>
</div>
{% endblock %}