{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="col"></div>
    <div class="col">
        <form method="POST">
            <br>
            <h3 align="center">Login</h3>
            <br>
            <div class="form-group">
                <label for="email">Email Address</label>
                <input type="email" class="form-control" id="email" name="email" placeholder="Enter email">
            </div>
            <br>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" name="password" placeholder="Enter password">
            </div>
            <br>
            <button type="submit" class="btn btn-primary">Login</button>
        </form>
    </div>
    <div class="col"></div>
</div>

{% endblock %}